.text-button-image {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 2fr 3fr;
    height: 85vh;
    align-items: center;
    background-color: #2F3038;

}

.text {
    grid-area: 1/3/2/3;
    text-align: center;
    display: grid;
    align-content: flex-end;
    height: 100%;
}

.text span {
    font-style: italic;
    font-weight: bold;
    color: aquamarine;
}

.button {
    grid-area: 2/3/3/4;
    display: grid;
    height: 80%;
    padding-top: 20%;
    align-items: flex-start;
    justify-items: center;
}

.button button {
    width: 70%;
    color: white;
    background-color: #1762A7;
    border-radius: 10px;
    height: 15%;
    cursor: pointer;
    font-size: 17px;
}

.button button:hover {
    font-weight: bold;
}

.image {
    grid-area: 1/2/3/3;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.image img{
    width: 70%;
    height: 80%;
}