.header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: 100vw;
    height: 10vh;
    text-align: center;
    align-items: center;
}

.header a {
    text-decoration: none !important;
    color: white;
}

.header .logo {
    text-align: left;
    padding: 0 10%;
}