.text-button-image {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 15vh 35vh 50vh;
    height: 100vh;
    align-items: center;
    /* background-color: #2F3038; */

}

.text {
    grid-area: 2/3/3/4;
    text-align: center;
    display: grid;
    align-content: flex-end;
    height: 100%;
    color: #2F3038;
}

.text span {
    font-style: italic;
    font-weight: bold;
    /* color: aquamarine; */
    color: black;
}

.button {
    grid-area: 3/3/4/4;
    display: grid;
    height: 100%;
    /* padding-top: 20%; */
    align-items: flex-start;
    justify-items: center;
}

.button a {
    width: 70%;
    height: 100%;
}

.button button {
    margin-top: 10px;
    width: 100%;
    color: white;
    /* background-color: #1762A7; */
    background-color: #373945;
    border-radius: 10px;
    height: 15%;
    cursor: pointer;
    font-size: 17px;
}

.button button:hover {
    /* font-weight: bold; */
    font-size: 18px;
}

.image {
    grid-area: 2/2/4/3;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.image img{
    width: 70%;
    height: 80%;
}